<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Do I Need A Jacket?</title>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="javascripts/fetch_location.js"></script>
  </head>
  <body>

<div id="current-weather">
</div>

<h2>Do I need a jacket today?</h2>
<div id="jacket">

</div>

<!-- <div id="form">
<h2>What Days Have You Been Cold Or Needed A Jacket?</h2>
<form action="">
 <div class='history'>
   <label id="date_1" for="date_1"></label>
   <input type="checkbox" name="date_1">
   <label for="date_2"></label>
   <input type="checkbox">
   <label for="date_3"></label>
   <input type="checkbox">
   <label for="date_4"></label>
   <input type="checkbox">
    <label for="date_5"></label>
   <input type="checkbox">
 </div>
 <input type="submit">
</form>
</div>
 -->


  </body>